use strict;
use warnings;
use SPVM::Builder::Config;

my $config = SPVM::Builder::Config->new_gnu99(file => __FILE__);

my $link_rt;
if ($^O eq 'darwin') {
  $link_rt = 0;
}
elsif ($^O eq 'MSWin32') {
  $link_rt = 0;
}
else {
  $link_rt = 1;
}

if ($link_rt) {
  $config->add_libs('rt');
}

$config;
